@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: hidden;
}

/* Set the background color of all pages */
html,
body {
  background-color: rgb(60, 65, 92);
}

/* Set the style of the navigation list */
header nav ul {
  background-color: RGB(180, 165, 165);
  border-bottom: 1px solid #CCC;
  box-sizing: border-box;
  list-style: none;
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 0 0 1em;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
  display: inline-block;
  margin: 0 1em;
  padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
  margin: 0;
  padding: .25em .5em;
}

/* Set the width on all tables */
table {
  width: 100%;
}

/* Set the size of the help text in forms */
.helptext {
  display: block;
  font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: RGB(180, 165, 165);
  border: 2px solid rgb(48, 27, 63);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}


/* Make the task and projects forms look nicer */
.task-form,
.task-update-form,
.project-form {
  background-color: RGB(180, 165, 165);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.task-update-form h1,
.login-form h1,
.signup-form h1,
.task-detail h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
}

/* Add spacing to the section of the project detail */
.task-detail h2 .project-detail h2 {
  margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.task-update-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.task-update-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Make the buttons a little larger */
.task-form button,
.task-update-form button,
.my-tasks-list button,
.login-form button,
.signup-form button,
.project-form button {
  padding: 0.25em 1em;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.task-detail,
.project-detail {
  background-color: RGB(180, 165, 165);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5),
.project-detail tbody td:nth-child(6),
.project-detail tbody td:nth-child(7) {
  text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}

.material-icons.md-18 {
  font-size: 18px;
  vertical-align: middle;
}

#build {
  transform: rotateY(180deg);
}

a:link {
  color: rgb(48, 27, 64);
}

a:hover {
  color: rgb(21, 21, 21);
}

a {
  font-weight: bold;
  text-decoration: none;
}

.project-form,
input,
textarea,
select {
  border-radius: 4px;
  border: hidden;
}


#complete_button:hover {
  background-color: rgb(48, 27, 64);
  color: white;
}

#complete_button {
  transition-duration: 0.4s;
  background-color: rgb(60, 65, 92);
  color: white;
  padding: .1em, .1em;
  font-size: 15px;
}

option:hover {
  background-color: grey;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  background-image: linear-gradient(to bottom left, black, purple);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  background-image: linear-gradient(to bottom left, black, purple);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

img {
  width: 340px;
  height: auto;
}

#login_greet {
  display: inline;
}

#noaccount {
  display: inline;
  font-style: italic;
}