{% extends 'base.html' %}

{% block content %}
    <div class="login-form">
        <h1>Project Tracker</h1>
        <p id="login_greet">Please log in to continue</p>
        <h2>Login</h2>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Log In </button>
        </form>
        <br>
        <p id="noaccount">Don't have an account? Sign up using the link above</p>
    </div>
    </main>
{% endblock content %}