{% extends 'base.html' %}

{% block content %}
    <div class="task-detail">
        <h1>{{task.name}}</h1>
            <h2>Notes</h2>
                <p>{{task.notes}}</p>

                <a href="{% url 'show_project' task.project.id %}">
                    <span class="material-icons md-18">arrow_back</span>
                </a>
    </div>
{% endblock content %}



