{% extends 'base.html' %}

{% block content %}
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if task_list %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                    <thead>
                        <tbody>
                            {% for task_info in task_list %}
                                <tr>
                                    <td><a href="{% url 'show_project' task_info.project.id%}">{{task_info.name}}</a></td>
                                    <td>{{task_info.start_date|date:'D d M Y'}}</td>
                                    <td>{{task_info.due_date|date:'D d M Y'}}</td>

                                    {% if task_info.is_completed == False %}
                                        <td>
                                            <form method="post" action="{% url 'complete_task' task_info.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="is_completed" value="True">
                                                <button id="complete_button">Complete</button>
                                            </form>
                                        </td>
                                    {% else %}
                                        <!--<td>{{task_info.is_completed|yesno:'Done, '}}</td>-->
                                        <td><span class="material-icons">
                                            done
                                            </span></td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
