{% extends 'base.html' %}

{% block content %}
<div class="task-update-form">
    <h1>Update Task</h1>
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">Update</button>
        </form>
        <br>
        <a href="{% url 'show_project' task.project.id %}">
            <span class="material-icons md-18">arrow_back</span>
        </a>
</div>
{% endblock content %}