{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <title>Tracker</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks<span class="material-icons md-18">list</span></a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects<span class="material-icons md-18" id="build">build</span></a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout<span class="material-icons md-18">logout</span></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login<span class="material-icons md-18">login</span></a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup<span class="material-icons md-18">touch_app</span></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>