{% extends 'base.html' %}

{% block content %}
    <div class="project-form">
        <h1>Add a new project</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock content %}