{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <div class="project-detail">
        <h1>{{ project.name }}</h1>
        {{ project.description|markdownify }}
        <br>
        {% if project.project_image %}
        <img src="{{project.project_image.url}}">
        {% endif %}
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}"><span class="material-icons md-18">
            add_circle
            </span>Add task</a></p>

        {% if project.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                        <th>Notes</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task_info in project.tasks.all %}
                        <tr>
                            <td>{{ task_info.name }}</td>
                            <td>{{ task_info.assignee }}</td>
                            <td>{{ task_info.start_date|date:"D d M Y"}}</td>
                            <td>{{ task_info.due_date|date:"D d M Y"}}</td>
                            {% if task_info.is_completed == False %}
                                <td><span class="material-icons">close</span></td>
                            {% else %}
                                <td><span class="material-icons">done</span></td>
                            {% endif %}

                            {% if task_info.notes|length >= 1 %}
                            <td><a href="{% url 'show_notes' task_info.id%}">View Notes</a></td>
                            {% else %}
                            <td><span class="material-icons">
                                horizontal_rule
                                </span></td>
                            {% endif %}
                            
                            <td><a href="{% url 'update_task' task_info.id%}">
                                <span class="material-icons">
                                    update
                                    </span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>This project has no tasks<p>
        {% endif %}
    </div>
{% endblock content %}