{% extends 'base.html' %}

{% block content %}
<div class="project-list">
    <h1>My Projects</h1>
    <p><a href="{% url 'create_project' %}"><span class="material-icons md-18">
        add_circle
        </span>Add project</a></p>
    {% if project_list %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project_info in project_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' project_info.id %}">
                                {{ project_info.name }}</a>
                        </td>
                        <td>{{ project_info.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You are not assigned to any projects</p>
    {% endif %}
</div>
{% endblock content %}